#DataVisualization {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}
#timelines {
	display: flex;
	flex-direction: column;
	/*
	align-items:center;
  	justify-content:center; */
}
#timeline2 {
	order:2;
}
#documentsDiv {
	order:1;
}
#DocumentArray {
	position: relative;
}

#Document1 {
	position: relative;
	display:inline-block
}
#Document2 {
	position: relative;
	display:inline-block
}
#Document3 {
	position: relative;
	display:inline-block
}
#Document4 {
	position: relative;
	display:inline-block
} 

#svgLine1 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}
#svgLine2 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}
#svgLine3 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}
#svgLine4 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}
#pdfPageHeading {
	display:flex;
	font-size: large;
	margin-bottom: 20px;
}
#homePageLink {
	margin-left: auto;
	margin-right: 0;
}
#timelineHeading {
	display:flex;
}
#timelineTitle {
	margin-top: 0;
}
#timelineSubTitle {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}
#timelineBackLink {
	margin-left: auto;
	margin-right: auto;
}