#DataVisualization {
    overflow-y : auto;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}
#customizeYourOptions {
	display: inline-block;
}
#exportAsJpeg {
	display: inline-block;
	margin-left: 20px;
}
#timelines {
	display: flex;
    flex-direction: column;
	/*
	align-items:center;
  	justify-content:center; */
}
#timeline2 {
    /*display: none;*/
	order:2;
}
#map1 {
    /*order:3;*/
    width: 75%;
	height: 150%;
	display: inline-block;
	/*display: none;*/
}
/* removes the "OpenStreeMap contributors." copyright below the map */
.ol-overlaycontainer-stopevent { 
    display: none;
}
#map2 {
    /*order:3;*/
    width: 75%;
	height: 150%;
	margin-top: 20px;
	display: inline-block;
}
#buttonAndLegend {
	margin-top: 20px;
	display: inline-block;
	vertical-align:top;
}
#mapButtonInput {
	display: inline-block;
}
#mapButtonLabel {
	display: inline-block;
}
/* removes the "OpenStreeMap contributors." copyright below the map */
.ol-overlaycontainer-stopevent { 
    display: none;
}
#clusteringByText {
	/*margin-top: 10px;    this is what ALEX HAD 6.27.20*/
	margin-top: 6px;
	margin-bottom: 10px;
}
#DocumentArray {
	position: relative;
}
#Document1 {
	position: relative;
	display:inline-block
}
#Document2 {
	position: relative;
	display:inline-block
}
#Document3 {
	position: relative;
	display:inline-block
}
#Document4 {
	position: relative;
	display:inline-block
} 
#image1 {                  
    border-style: solid;
    border-width: 8px;
}
#image2 {
    border-style: solid;
    border-width: 8px;
}
#image3 {
    border-style: solid;
    border-width: 8px;
}
#image4 {
    border-style: solid;
    border-width: 8px;
}
#svgTimeline1 {
	position: absolute;
	top: 0;     /* NOTE: putting top and left at 0 moves svg box to complete top left corner of page. 
	removing has it start at top of timeline1  */
	left: 0;
	z-index: -10;
	/*border: 3px solid green;*/
}
#svgTimeline2 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
	/*border: 3px solid orange;*/
}

#svgLine1 {
	position: absolute; /* want position absolute  for these svg lines so lines scroll with rest of timelines, etc. !!!!  appear to be viewport issues.  currently only fixed works as of 7.6.20 */
	top: 0;
	left: 0;
	z-index: 10;
	/*border: 3px solid red;*//* color svg element border for testing */
}
#svgLine2 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
#svgLine3 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
#svgLine4 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
#svgLineBottom1 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	/*border: 10px solid red;*/
}
#svgLineBottom2 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
#svgLineBottom3 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
#svgLineBottom4 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

#pdfPageHeading {
	display:flex;
	font-size: large;
	margin-bottom: 20px;
}
#homePageLink {
	margin-left: auto;
	margin-right: 50px;
}
#pdfScreenLogout{
	margin-left: auto;
	margin-right: auto;
}
#timelineHeading {
	display:flex;
}
#timelineTitle {
	margin-top: 0;
}
#timelineSubTitle {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}
#timelineBackLink {
	margin-left: auto;
	margin-right: auto;
}
#timelineLogoutLink {
	margin-left: auto;
	margin-right: auto;
}
#welcomeButtons {
	margin-bottom: 15px;
}
#addStoryLink {
	margin-top: 35px;
	margin-bottom: inherit;
}
#editStoryForm {
	margin-bottom: inherit;
}
#deleteStoryForm {
	margin-bottom: inherit;
}
#exportStoryForm {
	margin-bottom: inherit;
}
#importStoryForm {
	margin-bottom: inherit;
}
.column {
	float: left;
	width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }