#DataVisualization {
    overflow-y : auto;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}
#timelines {
	display: flex;
    flex-direction: column;
	/*
	align-items:center;
  	justify-content:center; */
}
#timeline2 {
    /*display: none;*/
	order:2;
}
#map1 {
    /*order:3;*/
    width: 75%;
	height: 150%;
}
#map2 {
    /*order:3;*/
    width: 75%;
	height: 150%;
	margin-top: 35px;
}
/*#documentsDiv {
	order:1;
}*/
#clusteringByText {
	margin-top: 10px;
}
#DocumentArray {
	position: relative;
}

#Document1 {
	position: relative;
	display:inline-block
}
#Document2 {
	position: relative;
	display:inline-block
}
#Document3 {
	position: relative;
	display:inline-block
}
#Document4 {
	position: relative;
	display:inline-block
} 

#image1 {                  
    border-style: solid;
    border-width: 8px;
}
#image2 {
    border-style: solid;
    border-width: 8px;
}
#image3 {
    border-style: solid;
    border-width: 8px;
}
#image4 {
    border-style: solid;
    border-width: 8px;
}

#svgLine1 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}
#svgLine2 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}
#svgLine3 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}
#svgLine4 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}
#svgLineBottom1 {
    /*display: none;*/
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}
#svgLineBottom2 {
    /*display: none;*/
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}
#svgLineBottom3 {
    /*display: none;*/
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}
#svgLineBottom4 {
    /*display: none;*/
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}

#pdfPageHeading {
	display:flex;
	font-size: large;
	margin-bottom: 20px;
}
#homePageLink {
	margin-left: auto;
	margin-right: 50px;
}
#pdfScreenLogout{
	margin-left: auto;
	margin-right: auto;
}
#timelineHeading {
	display:flex;
}
#timelineTitle {
	margin-top: 0;
}
#timelineSubTitle {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}
#timelineBackLink {
	margin-left: auto;
	margin-right: auto;
}
#timelineLogoutLink {
	margin-left: auto;
	margin-right: auto;
}
#welcomeButtons {
	margin-bottom: 15px;
}
#addStoryLink {
	margin-top: 35px;
	margin-bottom: inherit;
}
#editStoryForm {
	margin-bottom: inherit;
}
#deleteStoryForm {
	margin-bottom: inherit;
}
#exportStoryForm {
	margin-bottom: inherit;
}
#importStoryForm {
	margin-bottom: inherit;
}