<!DOCTYPE html>
<html lang="en">
<head>
    <title>timelineApp</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <script type='text/javascript'>
    </script>
    <div>
        <p>Hi, {{username}}! Edit view {{viewNumber}} for your story, {{storyname}}, here!</p>

        <form id="editViewForm" method="post" enctype="multipart/form-data">
            <label for="title">View title:</label>
            <input type="text" id="title" name="title" value="{{view.Name}}"> {{storyAlreadyExists}}<br><br>

            Reference View #1:
            <br><br>
            <label for="RefView1Question">Question:</label>
            <input type="text" id="RefView1Question" name="RefView1Question" value="{{view.ReferenceViews[0].Question}}"><br>
            <label for="RefView1Type">Type (Either "Timeline" or "Map"):</label>
            <input type="text" id="RefView1Type" name="RefView1Type" value="{{view.ReferenceViews[0].Type}}"><br><br>

            Reference View #2:
            <br><br>
            <label for="RefView2Question">Question:</label>
            <input type="text" id="RefView2Question" name="RefView2Question" value="{{view.ReferenceViews[1].Question}}"><br>
            <label for="RefView2Type">Type (Either "Timeline" or "Map"):</label>
            <input type="text" id="RefView2Type" name="RefView2Type" value="{{view.ReferenceViews[1].Type}}"><br><br>

            <label for="clusterBy">Cluster By:</label>
            <input type="text" id="clusterBy" name="clusterBy" value="{{view.ClusterBy}}"><br><br>

            <label for="active">Active ("True" or "False"):</label>
            <input type="text" id="active" name="active" value="{{view.Active}}"><br><br>

            <input type="submit" value="Submit"> <!-- clicking this should: update config.json for this story for this user. then re-render this "add view" screen.-->
        </form>

        <a href="/{{storyid}}/views/"> Back </a>

    </div>


</body>
</html>