<!DOCTYPE html>
<html lang="en">
<head>
    <title>timelineApp</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <script type='text/javascript'>
    </script>

    <div>
        <p>Hi, {{username}}!</p>
        <p>
            Edit the title, documents, and/or questions of your story.
        </p>

        <p>
            Documents currently in story: {{originalStoryName}}
        </p>

        <div>
            {% for doc in storyDocuments %}
                <p id="{{doc}}" >{{doc}}
                 <!--<button onclick="deleteDocument()" >Delete document</button>-->
                 <form id = "deletePdfForm" method = "post" enctype="multipart/form-data">
                    <input  class="form-control" type="submit" name="deletePdfForm" value="Delete Document {{loop.index}}">
                    <input type="hidden" value = "{{originalStoryName}}" id="storyToEdit" name="storyToEdit"> {{storyAlreadyExists}}<br><br>
                </form>
                
            {% endfor %}
        </div>

        <div>
            <form id="submitPdfForm" method = "post" enctype="multipart/form-data">
                <p>
                    Upload a new document and click submit
                </p>
                <input class="form-control" type="file" id="submitPdfForm" name="submitPdfForm" accept="application/pdf"><br><br>
                <input type="hidden" value = "{{originalStoryName}}" id="storyToEdit" name="storyToEdit"> {{storyAlreadyExists}}
                <input class="form-control" type="submit" name="submitPdfForm" value="Submit"> <br><br>
            </form>
        </div>

        
        <form id="editStoryForm" method="post" enctype="multipart/form-data">
            <label for="questionDirections">Edit, delete, and add questions:</label> 
            <input type="hidden" value = "{{originalStoryName}}" id="storyToEdit" name="storyToEdit"> {{storyAlreadyExists}}<br><br>




            <div>
                {% for q in storyQuestions %}

                <label for="{{q}}">Question:</label>
                <input type="text" id="{{q}}" name="{{q}}" value = "{{q}}"><br>

                
                <br>
                
                {% endfor %}
                
            </div>
            <br>

            <label for = "NewQuestion">Enter New Question: </label>
            <input type="text" id = "newQuestionToAdd" name = newQuestionToAdd>
            <input type ="submit" value = "Add Question"><br>
            <br>


            

            <input type="submit" value="Update Story"><br><br>
        </form>

        <div>
        {% for q in storyQuestions %}

        <label for="{{q}}">Question:</label>
        
        <label id="{{q}}" >{{q}} <br>

            <form id="deleteQuestionForm" method="POST" enctype="multipart/form-data">
            <input  class="form-control" type="submit" name="deleteQuestionForm" value="Delete Question {{loop.index}}">
            
            <input type="hidden" value = "{{originalStoryName}}" id="storyToEdit" name="storyToEdit"> {{storyAlreadyExists}}<br><br>
        
            
        
        
        
        {% endfor %}
        </div>

        
        

        <a href="/"> Back </a>

    </div>


</body>
</html>