<!DOCTYPE html>
<html lang="en">
<head>
    <title>timelineApp</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <script type='text/javascript'>
    </script>

    <div>
        <p>Hi, {{username}}!</p>
        <p>
            Edit the title, documents, and/or questions of your story.
        </p>

        <p>
            Documents currently in story:
        </p>

        <div>
            {% for doc in storyDocuments %}
                <p id="{{doc}}" >{{doc}}<button onclick="deleteDocument()" >Delete document</button>
            {% endfor %}
        </div>


        <form id="editStoryForm" method="post" enctype="multipart/form-data">
            <label for="stories">Story title:</label> 
            <input type="text" value = "{{originalStoryName}}" id="storyToEdit" name="storyToEdit"> {{storyAlreadyExists}}<br><br>
            <label for="document1">Document 1:</label>
            <input type="file" id="document1" name="document1" accept="application/pdf"><br>
            <label for="document1">Document 2:</label>
            <input type="file" id="document2" name="document2" accept="application/pdf"><br>
            <label for="document1">Document 3:</label>
            <input type="file" id="document3" name="document3" accept="application/pdf"><br>
            <label for="document1">Document 4:</label>
            <input type="file" id="document4" name="document4" accept="application/pdf"><br>
            <button onclick="addDocument()" >Add document</button>
            <button>Remove document</button><br><br>




            <div>
                {% for q in storyQuestions %}

                <label for="question1">Question:</label>
                <input type="text" id="question1" name="question1" value = "{{q}}"><br>
                
                {% endfor %}
                <br>
            </div>

            <button>Add question</button>
            <button>Remove question</button><br><br>
            <input type="submit" value="Submit">
        </form>

        <a href="/"> Back </a>

    </div>


</body>
</html>