<!DOCTYPE html>
<html lang="en">
<head>
    <title>timelineApp</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <!-- HEADER
    <div>
        <p class="explore_header">
            <a href="/"><img src="/static/images/logo.png" class="logo" alt="logo"></a>
            <a href="/explore/">explore</a>
            ---
            <a href={{ "/u/" ~ logname ~ "/" }}> {{logname}} </a>
        </p>
    </div> -->
    <div>
        <p>Welcome, {{user}}, to our tool that allows students to think like historians!</p>
        <p>Please click on a story to continue.</p>
    </div>
    <ul>
        {% for story in stories %}
            <li>
                <a href="/{{ story.storyid }}/">{{ story.storyname }}</a>
            </li>
        {% endfor %}
    </ul>

    <a href="/welcome/">{{ askForStory }}</a>

    <div id="welcomeButtons">
        
        <div id="addStoryLink">
            <a href="/addStory/">Add Story</a>
        </div>

        <form id="editStoryForm" action="/editStory/" method="post" >
            <label for="storyToEdit">Edit story:</label>
            <select id="storyToEdit" name="storyToEdit">
                {% for story in stories %}
                    <li>
                        <option value="{{ story.storyname }}" name="{{ story.storyid }}">{{ story.storyname }}</option>
                    </li>
                {% endfor %}
            </select>
            <input type="submit" value="Go">
        </form>

        <form id="exportStoryForm" action="/api/stories/export/" method="post" >
            <label for="stories">Export story:</label>
            <select id="stories" name="stories">
                {% for story in stories %}
                    <li>
                        <option value="{{ story.storyname }}" name="{{ story.storyid }}">{{ story.storyname }}</option>
                    </li>
                {% endfor %}
            </select>
            <input type="submit" value="Export">
        </form>

        <form id="deleteStoryForm" action="/api/stories/delete/" method="post" >
            <label for="stories">Delete story:</label>
            <select id="stories" name="stories">
                {% for story in stories %}
                    <li>
                        <option value="{{ story.storyname }}" name="{{ story.storyid }}">{{ story.storyname }}</option>
                    </li>
                {% endfor %}
            </select>
            <input type="submit" value="Submit">
        </form>

        <form id="importStoryForm" action="/api/stories/import/" method="post" >
            <label for="importableStories">Import story:</label>
            <select id="importableStories" name="importableStories">
                {% for importableStory in importableStories %}
                    <li>
                        <option value="{{ importableStory }}" name="{{ importableStory }}">{{ importableStory }}</option>
                    </li>
                {% endfor %}
            </select>
            <input type="submit" value="Import">
        </form>

        <a href="/logout/">Logout</a>

        {% if ableToDeleteUser == True %}
            <a href="/deleteAccount/">Delete Account</a>
        {% endif %}
    </div>

</body>
</html>