<!DOCTYPE html>
<html lang="en">
<head>
    <title>timelineApp</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <!-- HEADER -->
    <div>
        <p class="welcome_header">
            Welcome to the tool that lets history students act like historians. Please log in or sign up to begin.
        </p>
        <p>
            Username=test and password=test is already setup for you to use.
        </p>
    </div>

    <!--- LOGIN FORM --->
    <div>
        <form action="" method="post" enctype="multipart/form-data">
            <div>
                <label for="usr"><p>Username</p></label>
                <input type="text" name="username" id="usr" placeholder="Enter Username"/>
            </div>
            <div>
                <label for="pass"><p>Password</p></label>
                <input type="password" name="password" id="pass" placeholder="Enter Password"/>
            </div>
            <br>
            <div>
                <input type="radio" id="teacher" name="personType" value="teacher">
                <label for="teacher">I'm a teacher</label><br>
                <input type="radio" id="student" name="personType" value="student">
                <label for="female">I'm a student</label><br><br>
            </div>
            <div>
                <input type="submit" name="action" value="Login"/>
                <input type="submit" name="action" value="Sign Up"/>
            </div>
        </form>
    </div>

    <!-- Print unsuccessful if login failed -->
    <div>
        <p> {{ unsuccessful_str }} </p>
        <p> {{ not_unique_username }} </p>
    </div>



</body>
</html>