<!DOCTYPE html>
<html lang="en">
<head>
    <title>timelineApp</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
   
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



</style>
</head>
<body>


<body>

    <div id="pdfPageHeading">
        <div>Current topic: {{ storyname }} </div>
        <div id="homePageLink"><a href="/">Return to Home Page</a></div>
        <div id="pdfScreenLogout"> <a href="/logout/">Logout</a> </div>
    </div>

    <div id="pdfInstructions">
      Instructions:
      <ol> 1.  Answer all questions for each document.</ol>
      <ol> 2.  Click the "Continue to Custom-Generated Timelines / Maps" Button at the bottom.</ol>
    </div>

    <div class="row">
        <div class="column" style="background-color:#aaa;">
          <h2>Documents</h2>
          
          <div>
            
                <p id="{{ documents[pdfid-1].documentid }}" >Document {{ documents[pdfid-1].documentid }} of {{numDocs}}</p>
    

    
                <object
                    data="/static/var/users/{{ username }}/stories/{{ storyname }}/documents/{{ documents[pdfid-1].filename }}"
                    type="application/pdf"
                    width="100%"
                    height="681">
                    <p>Your browser does not support PDFs.
                        <a href="https://example.com/test.pdf">Download the PDF</a>.
                    </p>
                </object>
    

           
        </div>
        </div>
        <div class="column" style="background-color:#bbb;">
          <h2>Questions</h2>
          <br>
          <div>
            
                <form action="/{{storyid}}/{{pdfid}}/" method="post" >
                    {% for questionAnswer in documents[pdfid-1].questions %}
                        <label for="{{ questionAnswer[0] }}"> {{ questionAnswer[0] }}: </label><br>
                        <textarea id="{{ questionAnswer[0] }}" name="{{ loop.index }}" rows="6" cols="90">{{questionAnswer[1]}}</textarea>
                        <!--<input type="text" id="question" name="answer{{loop.index}}" value="When did the Black death stop?"><br>-->
                        <br>
                    {% endfor %}
                    <input style = "margin-left: 550px" type="submit" value="Submit Form {{ documents[pdfid-1].documentid }}" name="submit">
                </form>
                <br>

            <div>
            
                
                <a style="margin-right: 415px" href="/{{storyid}}/{{pdfid-1}}/">Previous Document</a>
                <a href="/{{storyid}}/{{pdfid+1}}/">Next Document</a>
                
            </div>

            

                <br><br><br>


           
          </div>
        </div>
    </div>

    



    <div>
        <a style = "margin-left: 1500px" href="/{{ storyid }}/timeline/"> Continue to Custom-Generated Timelines / Maps </a>
    </div>


    <!--
    <ul>
        {% for story in stories %}
            <li><a href="/{{ story.storyid }}/">{{ story.storyname }}</a></li>
        {% endfor %}
    </ul> -->

</body>
</html>