<!DOCTYPE html>
<html lang="en">
<head>
    <title>timelineApp</title>
    <!-- <link href="/static/css/style.css" rel="stylesheet" type="text/css"/> -->
</head>

<body>
    <div>
        <p>By default there are views associated with your story of: {{ storyname }}.</p>
        <p>View 1: author view: /// t1 - written /// t2 - event /// cluster: author</p>
        <p>View 2: regional view: /// t1 - written /// m1 - where written /// cluster: north south</p>
        <p>Here you can edit, create, or delete views to customize behavior to your needs.</p>
          <form method = "post" action="/api/stories/3/">
            <label for="question">Question:</label><br>
            <input type="text" id="question" name="text" value="When did the Black death stop?"><br>
            <input type="submit" value="Submit">
          </form> 
    </div>

    
</body>
</html>