<!DOCTYPE html>
<html lang="en">
<head>
    <title>timelineApp</title>
    <!-- <link href="/static/css/style.css" rel="stylesheet" type="text/css"/> -->
</head>

<body>
    <div>
        <p>{{username}}, by default there are views associated with your story of: {{ storyname }}.</p>
        <p>Here you can edit, create, or delete views to customize behavior to your needs.</p>

        <h2>Current Views</h2>

        {% for view in views.Views %}
            <div>
                <h3>View {{loop.index}}: <button>Edit view</button></h3>
                <p>Name: {{view.Name}}</p>
                <p>
                    Reference Views:
                    <ol>
                        {% for refView in view.ReferenceViews %}
                            <li>
                                <p>Question: {{refView.Question}}</p>
                                <p>Type: {{refView.Type}} </p>
                            </li>
                        {% endfor %}
                    </ol>
                </p>
                <p>Cluster By: {{view.ClusterBy}}</p>
                <p>Active: {{view.Active}}</p>
            </div>
        {% endfor %}

        <button>Add view</button>
        <button>Delete view</button>

    </div>

    
</body>
</html>