<!DOCTYPE html>
<html lang="en">
<head>
    <title>timelineApp</title>
    <!-- <link href="/static/css/style.css" rel="stylesheet" type="text/css"/> -->
    <!-- Added bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
        #helo{
            overflow: auto;
            margin: auto;
            margin-top:40px;
            margin-bottom:80px;
            width: 550px;
        }
    </style>
</head>

<body>
    <div id="helo">
        <p>{{username}}, by default there are views associated with your story of: {{ storyname }}.</p>
        <p>Here you can edit, create, or delete views to customize behavior to your needs.</p>

        <h2>Current Views</h2>
        {% for view in views.Views %}
            <div>
                <h3>View {{loop.index}}: 
                    <form id="editViewForm" method="get" enctype="multipart/form-data">
                        <input class="form-control" type="submit" name="editView" value="Edit View {{loop.index}}">
                    </form>
                    
                    <form id="deleteViewForm" method="post" enctype="multipart/form-data">
                        <input  class="form-control" type="submit" name="deleteView" value="Delete View {{loop.index}}">
                    </form>
                    {% if DeletingActiveViewError == True and loop.index == viewToDelete + 1 %}
                        <div id="DeletingActiveViewError">Unable to delete an active view!</div>
                        <!-- javascript to make the error message disappear after a bit  -->
                        <script>
                            var ele = document.getElementById('DeletingActiveViewError');
                            ele.style.display = 'block';
                            setTimeout(function(){
                                ele.style.display = 'none';
                            }, 2500);
                        </script>
                    {% endif %}
                </h3>
                <p>Name: {{view.Name}}</p>
                <p>
                    Reference Views:
                    <ol>
                        {% for refView in view.ReferenceViews %}
                            <li>
                                <p>Question: {{refView.Question}}</p>
                                <p>Type: {{refView.Type}} </p>
                            </li>
                        {% endfor %}
                    </ol>
                </p>
                <p>
                    Cluster By Options:
                    {% for clusterOption in view.ClusterByOptions %}
                        <li>
                            {{clusterOption}}
                        </li>
                    {% endfor %}
                </p>
                <p>
                    Active: {{view.Active}}
                    {% if view.Active == False %}
                        <form id="activateViewForm" method="post" enctype="multipart/form-data">
                            <input type="submit" name="activateView" value="Activate View {{loop.index}}">
                        </form>
                    {% endif %}
                </p>
            </div>
        {% endfor %}

        <a href="/addView/{{storyid}}/">Add View</a><br><br>

        <a href="/{{storyid}}/1/"> Back </a>

    </div>

    
</body>
</html>
